*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Sans-serif";
  font-weight: 400;
  line-height: 1.7;
  box-sizing: inherit;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --linear-color-dark: rgba(4, 4, 15, 0.8);
  --linear-color-light: rgba(16, 16, 86, 0.8);
  --color-primary: #f7a400;
  --color-secondary: #1a1b4b;
  --color-tertiary: #f7f7ff;
  --color-white: #fff;
  --color-main: rgb(211, 139, 5);
  --line: 3px solid var(--color-primary);
  --line2: 0.1rem solid var(--color-secondary);
  --black-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.7);
  --white-shadow: 0 1.4rem 3rem rgba(214, 214, 214, 0.7);
  --gray-shadow: 0 1.4rem 4rem #ccc;
  --testimonial: #f9fafa;
}

/* anchor tag link */
a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

/* both primary and secondary button */
.slider-btn {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.btn:link,
.btn:visited {
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.1rem solid var(--color-white);
  letter-spacing: 0.2rem;
  transition: all 0.5s ease-in-out;
  color: var(--color-white);
}
.btn:hover,
.btn:active {
  box-shadow: var(--black-shadow);
}
.primary-btn {
  background: var(--color-primary);
  color: var(--color-white);
  border: none !important;
}
.button {
  background: #1a1b4b;
  color: #fff;
  text-transform: capitalize !important;
  border: none !important;
}
/* fit container */
.container {
  max-width: 130rem;
  width: 95%;
  margin: auto;
}

/* hamburger part */
input[type=checkbox] {
  display: none;
}

/* all header */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  z-index: 100;
  padding: 1.2rem 0;
  position: fixed;
  top: 0;
  background-color: var(--color-secondary);
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}
.header-logo {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.6rem;
  color: var(--color-main);
}

.header__navigation-list {
  position: relative;
  display: flex;
  align-items: center;
}

.header__navigation-item {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.header__navigation-link:link,
.header__navigation-link:visited {
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.header__navigation-link:hover,
.header__navigation-link.active
 {
  color: var(--color-primary);
}
/* .header__navigation-item-active 
  border-bottom: var(--line);
  color: var(--color-primary);
} */
header .sticky {
  background: var(--color-white);
}

.u-text-center {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
/* .u-border-bottom {
    width: 75%;
    border-bottom: var(--line2);
    
} */

.reuse {
  color: var(--color-primary);
}
.heading-primary {
  font-size: 4rem;
  line-height: 1;
  color: var(--color-white);
  font-weight: 500;
  margin-bottom: 3rem;
}
.heading-secondary {
  font-size: 3.8rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-secondary);
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  position: relative;
}
.heading-secondary::after {
  content: "";
  position: absolute;
  background: var(--color-main);
  width: 8rem;
  height: 0.5rem;
  border-radius: 1rem;
  top: 5rem;
  left: 0;
}
.heading-tertiary {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--color-secondary);
  letter-spacing: 0.1rem;
  max-width: 95rem;
}
.heading-master {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--linear-color-dark);
  font-weight: 700;
}
.heading-class {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--color-main);
}
.heading__footer {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: var(--color-white);
  letter-spacing: 0.1rem;
}
.paragraph {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.075rem;
  color: var(--linear-color-light);
  font-weight: 500;
}
.heading-primary-main {
  font-size: 2.4rem;
}
.heading-primary-sub {
  font-size: 2.2rem;
}
.hero-section {
  background-image: linear-gradient(
      to right bottom,
      var(--linear-color-light),
      var(--linear-color-dark)
    ),
    url(../images/co-working2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 10;
  /* position: relative; */
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

/* HERO SECTION */
.courses-section {
  padding: 8rem 0;
}
.courses-header,
.pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses-content {
  padding: 3rem;
  background-color: #fff;
  width: 100%;
  height: 35rem;
  box-shadow: var(--black-shadow);
  cursor: pointer;
}
.course__images {
  width: 100%;
  height: auto;
}

.flex__row {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.flex__items {
  flex: 0 0 31%;
  transition: transform 0.3s ease-in-out;
}
.flex__items:hover {
  transform: scale(1.01);
}

/* FACILITY STATE OF THE HUB */
.facility-state {
  padding: 12rem 0;
}
.facility__imag-hub {
  display: flex;
  position: relative;
  align-items: center;
}
.facility__content {
  content: "";
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  background-color: #fff;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: var(--gray-shadow);
  transform: translate(0%, -50%)
}


/* TESTIMONIAL */
.testimonial {
  padding: 15rem 0;
}
.user {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  margin-top: -20%;
  position: relative;
  left: calc(50% - 50px);
  border: 1rem solid white;
}
blockquote {
  font-size: 1.8rem;
  position: relative;
  line-height: 3rem;
}
blockquote::before {
  content: "\201C";
  position: absolute;
  font-size: 7rem;
  color: #1a1b4b;
  line-height: 2rem;
  /* top: 5rem;
    left: 1rem; */
}
blockquote::after {
  content: "\201D";
  position: absolute;
  color: #1a1b4b;
  font-size: 7rem;
  line-height: 2rem;
  bottom: -2rem;
  /* bottom: 8rem;
    right: 18rem; */
}
.checkout-icon {
  position: fixed;
  bottom: 7rem;
  right: 7rem;
}
.checkout-icon__photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.profile {
  background: var(--testimonial);
  position: relative;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem;
  cursor: pointer;
}
.flex__items-testimonial {
  flex: 0 0 31%;
  transition: 0.3s ease-in-out;
}
.flex__items-testimonial:hover {
  box-shadow: var(--white-shadow);
}

/* PRINCING FOR THE EACH COURSE */
.pricing__area {
  padding: 9rem 0;
}
.pricing__card {
  background: var(--color-tertiary);
  padding: 2rem;
  border-radius: 1rem;
}
.pricing__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.pricing__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-day {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-secondary);
}
.pricing-time {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary);
}
.pricing_period {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var;
}
.pricing__amount-price {
  font-size: 2.8rem;
  color: var(--color-secondary);
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CONTACT US STYLING */
.contact {
  padding: 9rem 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border-bottom: 0.3rem solid transparent;
  border-radius: 4px;
  background: var(--testimonial);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  border: none;
  margin-bottom: 3rem;
}

input[type]::placeholder {
  color: #ccc;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-bottom: 3px solid var(--color-secondary);
  outline: none;
}
input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

input[type="submit"] {
  width: 100%;
  background-color: #1a1b4b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 21px;
  transition: 0.5s ease-in;
}

textarea {
  margin: 8px 3px;
  resize: none;
  padding: 10px 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
  transition: 0.5s;
}

input[type="submit"]:hover {
  background-color: #202298;
}

.input-field {
  background: #fff;
  border: 2px solid #f5f5f5;
  box-shadow: 1px 2px 4pz #ffffffe7;
  padding: 20px;
  margin-bottom: 4rem;
}

footer {
  padding: 6rem 0;
  background-color: #1a1b4b;
  color: #f9fafa;
  line-height: 1.7rem;
}
footer::before {
  content: "";
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(26, 27, 75, 0.827);
  left: 0;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-item {
  flex: 0 0 31%;
}

.footer__paragraph {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.075rem;
  color: var(--color-white);
  font-weight: 200;

  display: flex;
  align-items: center;
  margin-bottom: 2.2rem;
}

footer .news-letter {
  max-width: 50%;
  width: 50%;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
}
footer .reuseable input[type="submit"] {
  max-width: 100%;
  width: 100%;
  align-items: center;
  background-color: #11122b;
  transition: 0.5s ease-in;
}

footer .reuseable input[type="submit"]:hover {
  background-color: #202298;
}
.reuseable input[type="text"] {
  max-width: 100%;
  width: 100%;
  align-items: center;
}
footer .news-letter h2 {
  font-size: 1.9rem;
  font-weight: 150;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

footer .news-letter .reuseable {
  align-items: center;
  margin: auto;
}

.icon {
  font-size: 1.8rem;
  margin-right: 2rem;
}
.fa-icon {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 4rem;
  color: var(--color-white);
  transition: 0.3s ease-in-out;
}
.social-icon {
  color: var(--color-white);
}




/* phone query for 0-600px */
@media only screen and (max-wdith: 23.5em) {P
  html {
    font-size: 31%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 34.5%
  }
  .profile {
    width: 100%;
  }
  .flex__items {
    justify-content: center;
    margin: 0 auto;
  }
  .flex__items-testimonial {
    margin: 0 auto;
    justify-content: center;
  }
  .facility__imag-hub {
    padding: 5rem 0 20rem;
  }
  .facility__photo {
    width: 100%;
  }
  .facility__content {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
  }
  .courses-content {
    height: 32rem;
  }
  .heading-primary {
    font-size: 3rem;
  }
  .btn:link, 
  .btn:visited {
    font-size: 1rem;
  }
  .footer__paragraph {
    font-size: 1.2rem;
  }
  footer .news-letter h2 {
    font-size: 1.5rem;
  }

}

/* TABLET PORTRAIT FOR <=900 */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
  .profile {
    width: 75%;
    box-shadow: var(--gray-shadow);
  }
}

/* tablet landscape for <= 1350px */

@media only screen and (max-width: 84.375em) {
  html {
    font-size: 56.25%;
  }
  .contact-container {
    flex-direction: column;
    justify-content: center;
  }

  /*
  .navigation__checkbox {
    display: block;
    position: absolute;
    height: 4rem;
    width: 9rem;
    top: 2.5rem;
    right: -0.5rem;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
  }
  .navigation__nav {
    padding: 0 1.8rem;
    background-color: var(--color-secondary);
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin-left: 0;
    transform: translateY(-150%);
    transition: transform .5s ease-in-out;
    z-index: 500;
  }
  .navigation__checkbox:checked ~ .navigation__nav + .navigation__icon {
    top: 100%;
    transform: translateY(0%);
  }

  .navigation__icon {
    position: relative;
    margin-top: 2.5rem;
    transition: .1s ease-in-out;
  }
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 4rem;
    height: 0.4em;
    background-color: var(--color-white);
    display: inline-block;
  }
  .navigation__icon::before,
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: 0.3s ease-in-out;
  }
  .navigation__icon::before {
    top: 1rem;
  }
  .navigation__icon::after {
    top: -1rem;
  }

  .navigation__checkbox:checked + .navigation__toggle .navigation__icon {
    background-color: transparent;
  }

  .navigation__checkbox:checked
    + .navigation__toggle
    .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation__checkbox:checked + .navigation__toggle .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  } */
  
  .header-navigation {
    flex-direction: row;
    
  }
  .header__navigation-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 .5rem 2rem ;
  }  
  .header__navigation-item {
    margin-bottom: 2rem;
    border-bottom: 1px dotted var(--color-white);
  }
  .navigation__nav {
    max-width: 100%;
    background: #00b074;
    transform: translate(75rem);
    display: flex;
    flex-direction: column;
    margin-right: -30px;
    transition: transform 0.8s ease-in-out;
    

    padding: 6rem 1.8rem;
    background-color: var(--color-secondary);
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    transform: translateY(-150%);
    z-index: 500;
  }
 
  
  input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 28px;
    width: 35px;
    top: 25px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
  }
  
  .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 25px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    right: 20px;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    right: 20px;
  }
  
 .hamburger-lines  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  
  .hamburger-lines  .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  input[type="checkbox"]:checked~ .navigation__nav {
    transform:  translateY(7.6rem);
  }
  
  input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
}


/* MEDIA QUERY FOR 968PX */
@media only screen and (max-width: 60.3125em) {
  .flex__row {
    flex-direction: column;
  }
  .flex__items-testimonial {
   display: flex;
  justify-content: center;
  }
  .flex__items {
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
    flex-direction: column;
  }
  .profile {
    width: 75%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
  .user {
    margin: 0;
     border: none;
  }
  .facility__imag-hub {
    position:relative;
  }
  .facility__photo {
    width: 100%;
  }

  .facility__content {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
  }
  .course__images {
    width: 100%;
  }
  /*.facility__imag-hub {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .facility__photo {
    width: 100%;
    border-radius: 1rem;
    position: relative;
  }
  .facility__content {
    content: "";
    position: absolute;
    top: 85%;
    background-color: #fff;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: var(--gray-shadow);
    margin: 0 auto;
  } */
  .maps {
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }  
  .footer-item {
    text-align: center;
    margin-bottom: 2.5rem;
  }
}



/* big desktop for >= 1800 */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; /*1rem = 12px; therefore 12px/16 = 75% */
  }
}
